*.vec
*.gz
*.sqlite
*.json
*.prof
*.log
*.png
*.iml
*.html
*.Без названия
.gitignore
*.css
*.idea
*.xml
*.ipynb_checkpoints
resources/
venv/
spider_analysis/db/.ipynb_checkpoints/
utils/preprocessing/spider/
